HTTP_ADDR=
HTTP_SHUTDOWN_TIMEOUT=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_TIMEOUT=

LOGGER_LEVEL=

SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=

REGISTRATION_COMPLETE_URL=
REGISTRATION_EMAIL_SUBJECT=
REGISTRATION_EMAIL_BODY=
REGISTRATION_EMAIL_DISPATCH_MODE=